/* 手机侧边栏导航 */

/* iPad媒体查询的写法 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* iPhone媒体查询的写法 */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
  }
}
