<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synco.oa.dao.TaskMapper">

	<insert id="inserTaskInfoId" parameterType="Task">
		INSERT INTO
		`task`(task_id)
		VALUES(#{task_id})
	</insert>

	<select id="findTaskInsertTime" resultType="Date">
		select
		max(task_inserttime) from task
	</select>

	<select id="findTaskIntegral" resultType="Integer">
		select task_integral
		from task where
		task_id = #{task_id}
	</select>

	<select id="findTaskId" resultType="String">
		select task_id
		from task where
		task_id = #{task_id}
	</select>

	<select id="taskStateList" resultType="String">
		select taskstate_name,id
		from
		taskstate where id = (select task_taskstate_id
		from task where
		task_id =
		#{task_id})
	</select>
</mapper>
