<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synco.oa.dao.UserMapper">

	<!-- 第一次登陆新增用户id,账户id,积分为0 -->
	<insert id="inserUserInfoId" parameterType="User">
		INSERT INTO
		`user`(user_id,account_id,user_integral,user_token,user_flush_token)
		VALUES(#{user_id},#{account_id},#{user_integral},#{user_token},#{user_flush_token})
	</insert>
	<!-- 查询用户 -->
	<select id="selectUser" resultType="int" parameterType="User">
		SELECT
		COUNT(1) FROM `user`
		WHERE user_id=#{user_id}
	</select>

	<select id="findUserIntegral" resultType="Integer">
		select user_integral from user
		where user_id = #{userid}
	</select>

	<select id="findUserIdbyAid" parameterType="String" resultType="String">
		select account_id
		from user
		where user_id = #{uid}
	</select>

	<update id="editUserIntegral" parameterType="User">
		update user set
		user_integral = #{user_integral}
		where user_id = #{user_id}
	</update>
	<select id="selectUser2" resultType="User" parameterType="User">
		SELECT
		* FROM `user`
		WHERE user_token=#{user_token}
	</select>
	<!-- 更新令牌 -->
	<update id="updateUser" parameterType="User">
	update `user` set user_token=#{user_token},user_flush_token=#{user_flush_token}
	where user_id=#{user_id}
	</update>
</mapper>