<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synco.oa.dao.UserTaskMapper">
	<insert id="InsertUserTask" parameterType="User_task">
		INSERT INTO
		user_task(user_id,task_id,taskrole_id)
		VALUES
		(#{user_id},#{task_id},#{taskrole_id})
	</insert>

	<select id="findInsertTime" resultType="Date">
		select
		max(inserttime)
		from user_task
	</select>

	<select id="findTaskId" resultType="String">
		select task_id
		from user_task
		where
		task_id = #{task_id} and user_id = #{user_id}
	</select>

	<select id="findUserIntegralByTask" resultType="Integer"
		parameterType="User_task">
		select
		user_integral from user_task where
		user_id=#{user_id}
		and
		task_id=#{task_id}
	</select>

	<update id="editUserIntegralByTask" parameterType="User_task">
		update
		user_task set
		user_integral = #{userIntegral}
		where user_id=#{user_id}
		and task_id=#{task_id}
	</update>

	<select id="findTaskIdByUserId" resultType="User_task">
		SELECT task_id FROM
		user_task where user_id = #{user_id}
	</select>

	<select id="countTaskUser" resultType="Integer" parameterType="User_task">
		select count(1) from
		user_task
		where user_id=#{user_id}
		and
		task_id=#{task_id}
	</select>
</mapper>